.logo {
  width: 200px;
  height: 68px;
}

.container-fluid {
  width: 90% !important;
  margin: 0 auto;
  margin-left: 108px !important;
}

.navbar-brand {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar-expand-lg {
  width: 100% !important;
  display: flex;
  justify-content: space-between !important;
  margin-top: 20px;
}

.d-flex  {
  width: 50% !important;
  height: 50px;
}

.d-flex .btn {
  width: 15% !important;
}