.logo {
  width: 200px;
  height: 68px;
}
.content {
  height: 100%;
}

.container-fluid {
  width: 90% !important;
  margin: 0 auto;
  margin-left: 108px !important;
}

.navbar-brand {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar-expand-lg {
  width: 100% !important;
  display: flex;
  justify-content: space-between !important;
  margin-top: 20px;
}

.d-flex  {
  width: 50% !important;
  height: 50px;
}

.d-flex .btn {
  width: 15% !important;
}

.footer {
  width: 100%;
  height: 80px;
  display:flex;
  position: absolute;
  background-color: #F8F9FA;
  bottom: 0 !important;
}

.footer > .content {
  width: auto;
  display: flex;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
}

.footer > .content > img {
  width: 24px;
  height: 24px;
  align-items: center;
}